<div>
    <div style="padding-bottom: 5px;" fxLayout="row" fxLayoutAlign="space-between">
        <input matInput [(ngModel)]="data.title" type="txt" placeholder="Title" >
        <img style="width: 16px;" class="img" src="../../../assets/pin.svg">
    </div>
    <div style="padding-top: 5px;">
        <input matInput [ngModel]="data.description" type="txt" placeholder="take a note" >
    </div>
    <div style="padding-top:10px ;" fxLayout="row" fxLayoutAlign="space-between center">

        <app-note-icons></app-note-icons>
        <button mat-button class="closebutton" onclick="close()">Close</button>

    </div>
</div>