<div class="note">
    <div class="title" fxLayout="row" fxLayoutAlign="space-between">
        <input type="text" placeholder="Title"  [(ngModel)]="title">
        <img class="img-pin" class="img" src="../../../assets/pin.svg">
    </div>
    <div class="desc">
        <input placeholder="take a note" type="text" [(ngModel)]="description">
    </div>
    <div class="icon-bar" fxLayout="row" fxLayoutAlign="space-between center">

        <app-note-icons  (autorefresh)="Reload($event)"></app-note-icons>
        <button mat-button class="closebutton" (click)="onNoClick()">Close</button>

    </div>
</div>