<!-- <div>
    <div style="padding-bottom: 5px;" fxLayout="row" fxLayoutAlign="space-between">
        <input [(ngModel)]="title" type="txt" placeholder="Title" [(ngModel)]="title">
        <img style="width: 16px;" class="img" src="../../../assets/pin.png">
    </div>
    <div style="padding-top: 5px;">
        <input [ngModel]="description" type="txt" placeholder="take a note" [(ngModel)]="description">
    </div>
    <div style="padding-top:10px ;" fxLayout="row" fxLayoutAlign="space-between center">

        <app-note-icons></app-note-icons>
        <button mat-button class="closebutton">Close</button>

    </div>
</div> -->
