<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let noteArray of getnotes">
        
        <mat-card [style.background]="noteArray.color">

        <div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="add-note-input" (click)="openDialog(noteArray)">
                {{noteArray.title}}
                <img class="img" src="../../../assets/pin.svg">
            </div> <br>
            <div class="desc-class" (click)="openDialog(noteArray)">
                {{noteArray.note}}
            </div>
        </div>
  
        <div>
            <div>
                <app-note-icons [noteCard]="noteArray"></app-note-icons>
                </div>
        </div>
            </mat-card>
        </div>
            </div>
        
    
  