.add-note-input {
    outline: none;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .img{
    width: 16px;
    height: 16px; 
  }
  .mat-card{
    width:130px;max-height:500px;margin-top: 20px; margin-left: 10px;
  }
  .img{
    width: 16px;
  }
  .desc-class{
    margin-bottom: 10px; padding-bottom: 5px;
  }