<div fxLayout="row wrap" fx Align="" class="main-div" style="width:auto;">
    <div *ngFor="let noteArray of getnotes">
        
        <mat-card [style.background]="noteArray.color">
            <div fxLayout="row" fxLayoutAlign="" class="pin-text">
                <textarea name="text" id="text" class="note-section" placeholder="Title"
                    (click)="openDialog(noteArray)"  [style.background]="noteArray.color">{{noteArray.title}}</textarea>
                <img src="../../../assets/pin.svg" alt="">
           </div>
           <textarea name="text" id="text" class="note-section" placeholder="Take a note..."
           (click)="openDialog(noteArray)" [style.background]="noteArray.color">{{noteArray.description}}</textarea>
       <div fxLayout="row" fxLayoutAlign="space-between end">
            
                <app-note-icons [noteCard]="noteArray"></app-note-icons>
                </div>  
            </mat-card>
        </div>
            </div>
        
    
  