<div fxlayout="column" fxLayoutAlign="space-between center" class="mainDiv">
<div fxlayout="column" fxLayoutALign="space-around" class="innerDiv">
    <div fxlayout="row" fxLayoutAlign="center center" class="innerDiv" >
        <h1>
            <span style="color: blue;">F</span>
            <span style="color: red;">U</span>
            <span style="color: yellow;">N</span>
            <span style="color: blue;">D</span>
            <span style="color: green;">O</span>
            <span style="color: red;">O</span>
        </h1>

    </div>
<div fxlayout="row" fxLayoutAlign="center center">
    <h1 class="h1-section-signIn">Sign In</h1>
</div>
<div fxlayout="row" fxLayoutAlign="center center">
    <h1 class="h1-section-Account">Use Your Fundoo Account</h1>
</div>
<div fxlayout="column" fxLayoutAlign="center center" class="xyz">
    <mat-form-field appearance="outline" style="width: 135%">
        <input matInput placeholder="Type=Email">
    </mat-form-field>

</div>
<a href="#" class="linkProperty" style="">Forget password?</a>
<div>
    <p class="sectionpargraph">Not your computer? Use a Private Window to sign in. </p>
    <a href="#" class="linkProperty">Learn more </a>
</div>
<div fxlayout="row" fxLayoutAlign="centre between end" class="btn-layout">
    <button mat-button-color="primary" class="btn-property">Create Account</button>
<button mat-raised-button class="btn-create">Next</button>
</div>

</div>

</div>
